html, body {margin:0px; padding:0px; display: flex; flex-direction: column;}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  /* background: #282828; */
  background-image: linear-gradient(orange, black);
  overflow: hidden;
}

.logo {
  height: 200px;
  width: 200px;
  background-color: #282C34;
  border-radius: 50%;
  margin-top: 7%;
  margin-left: 43.5%;
  shadow: 0px 0px 150px #000;
}
.img {
  width: 200px;
}
#p1 {
  height: 1000px;
}
#p2 {
  height: 1000px;
}

#aboutText {
  width: 80%;
  padding-top: 6%;
  margin-left: 7.5%;
  font-size: 40px;
  font-family: 'quark';
  text-shadow: 0px 0px 200px #fff;
  color: #fff;
}

#p3 {
  height: 1000px;
}
i {
  margin-left: 49.5%;
  text-decoration: none;
  color: white;
}

#a1 {
  /* margin-bottom: 10%; */
}

#a2 {
  margin-top: 4.5%;
}

.wrapper {
  display: flex;
  justify-content: space-evenly;
  /* position: fixed; */
  /* top: 45%; */
  width: 80%;
  margin-top: 5%;
  margin-left: 10%;
  font-family: 'quark';
  font-size: 200px;
  text-shadow: 0px 0px 100px #000;
}

.word {
  z-index: 999;
  color: #fff;
}

#Github {
  margin-top: 33%;
  color: white;
  font-family: 'quark';
  font-size: 100px;
  text-align: center;
  text-shadow: 0px 0px 150px #fff;
}

a {
  color: white;
}
